fastapi
uvicorn
jinja2
sqlalchemy
python-multipart
openpyxl
gspread
google-auth
google-auth-oauthlib
requests
pandas
catworld-sdk
passlib[bcrypt]
bcrypt==4.0.1
itsdangerous
pytest
alembic
psycopg2-binary
